<!DOCTYPE html>
<html lang="ro">
  <%- include("../fragmente/head", { titlu: titlu, pagina_css: 'despre' }) %>
  <body>
    <%- include("../fragmente/header") %>

        <main>
      <h1><%= titlu %></h1>
      <p><%= mesaj %></p>
    </main>

        <%- include('../fragmente/footer') %>
    </body>
</html>
