<!DOCTYPE html>
<html lang="ro">

<%- include('../fragmente/head', { titlu: 'Galerie', pagina_css: 'galerie' }) %>

<body class="pagina-galerie">
    <%- include('../fragmente/header') %>

    <main>
        <h2>Galeria noastră</h2>

       <div class="galerie">
        <% let litere = "abcdefghijklmnopqrstuvwxyz"; %>
        <% for (let i = 0; i < 12; i++) { %>
            <% if (i === 4 || i === 7) { %> <!-- Căsuțele goale în mijloc (index 3 și 7) -->
                <figure class="imagine imagine-goala">
                    <figcaption>—</figcaption>
                </figure>
            <% } else if (i < imagini.length) { %> <!-- Dacă există imagine -->
                <figure class="imagine">
                    <picture>
                        <img src="<%= cale_galerie + imagini[i].cale_imagine %>" 
                            alt="<%= imagini[i].titlu %>" 
                            title="<%= imagini[i].descriere || imagini[i].titlu %>">
                    </picture>
                    <figcaption><%= litere[i % litere.length] %>. <%= imagini[i].descriere || imagini[i].titlu %></figcaption>
                </figure>
            <% } else { %> <!-- Dacă nu există imagine (pune căsuțe goale la restul) -->
                <figure class="imagine imagine-goala">
                    <figcaption>—</figcaption>
                </figure>
            <% } %>
        <% } %>
    </div>

    </main>
    <%- include('../fragmente/footer') %>
</body>

</html>
